<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/style.css">
     <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons">

    <title>{% block title %}{% endblock %}</title>
    <!-- Add other common head elements, such as stylesheets, scripts, etc. -->
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
